
<!DOCTYPE html>
<head>
<title> Home Page</title>
</head>
<body>


{% if registered %}
<br></br>
<a href="{% url 'my_account' user.id %}" class="text">My Account</a>
<br></br>
<a href="{% url 'book_form' user_library.id %}" class="text">Add A New Book To My Library</a>
<br></br>
<a href="{% url 'book_list' user_library.id %}" class="text">View My Library Books</a>
<br></br>
<a href="{% url 'notification_list' user.id %}" class="text">View My Notifications</a>
<br></br>
<a href="{% url 'postman_inbox' %}"  class="text">View My Messages</a>
<br></br>
<a href="{% url 'sign_out' %}" class="text">Sign Out</a><br/>
{% else %}
<br></br>
<a href="{% url 'sign_up' %}" class="text">Sign Up Here</a>
<br></br>
<a href="{% url 'sign_in' %}" class="text">Sign In</a><br/>
{% endif %}

<br></br>
<a href="{% url 'library_list' %}" class="text">View All Website Libraries</a>

</div>

</body>


