<!DOCTYPE html>
<html>
    <head>
        <title>Your Notifications List</title>
    </head>

    <body>

		<h2>Your Notifications List</h2>

		<ul>

        {% for notification in unread %}

        <p>New Notification:</p>

         <li>A new book named "{{ notification.book_name }}" is created in library named
         "{{ notification.library.name }}" by "{{ notification.library.created_by }}"</li>

        <br></br>

        {% endfor %}


        {% for notification in read %}

        <p>Old Notification:</p>

         <li>A new book named "{{ notification.book_name }}" is created in library named
         "{{ notification.library.name }}" by "{{ notification.library.created_by }}"</li>

        <br></br>

        {% endfor %}



        <br></br>

        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

        <br>

        <a href="{% url 'home' %}"> Go back</a>

    </body>
</html>